@import url('https://fonts.googleapis.com/css?family=Lato:700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:900');

html, body {
	height: 100%;
	font-family: 'Lato', sans-serif;
}

.stripes {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: linear-gradient(150deg,#53f 15%,#05d5ff 70%,#a6ffcb 94%);
    display: -ms-grid;
    display: grid;
  	grid: repeat(5, 200px) / repeat(3, 1fr);
}

.stripes .language-link {
    margin: 10px;
    height: 20px;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    text-align: right;
    -ms-grid-column: 3;
        grid-column: 3;
    text-decoration: none;
    z-index: 2;
}

.stripes span {
 	-webkit-transform: skewY(-12deg);
 	        transform: skewY(-12deg);
    -webkit-transform-origin: 0;
            transform-origin: 0;
}

.stripes :nth-child(2) {
    width: 100%;
    background: #4c29ff;
    -ms-grid-row: 1;
        grid-row: 1;
}

.stripes :nth-child(3) {
    width: 150%;
    background: #4553ff;
    -ms-grid-row: 2;
        grid-row: 2;
}

.stripes :nth-child(4) {
    width: 180%;
    background: #4f40ff;
    -ms-grid-row: 1;
        grid-row: 1;
    -ms-grid-column: 2;
        grid-column: 2;
}

.stripes :nth-child(5) {
    width: 180%;
    background: #25ddf5;
    -ms-grid-row: 5;
        grid-row: 5;
    -ms-grid-column: 1;
        grid-column: 1;
}

.stripes :nth-child(6) {
    width: 100%;
    background: #25ddf5;
    -ms-grid-row: 5;
        grid-row: 5;
    -ms-grid-column: 3;
        grid-column: 3;
}

.stripes :nth-child(7) {
    width: 90%;
    height: 70%;
    background: #05d5ff;
    -ms-grid-row: 5;
        grid-row: 5;
    -ms-grid-column: 2;
        grid-column: 2;
}

.container {
	width: 100%;
    height: 100%;
	position: relative;
	top: -100vh;
	left: 0;
	display: -ms-grid;
	display: grid; 
	-ms-grid-columns: 700px 400px 700px ; 
	    grid-template-columns: 700px 400px 700px ;
    overflow: hidden;
}

.container .initials {
	-ms-grid-column: 1;
	    grid-column: 1;
	z-index: 2;
	margin: auto;
    cursor: default;
}

.container .initials h1 {
	font-size: 400px;
	font-family: 'Montserrat', sans-serif;
	color: rgba(255, 255, 255, .8);
}

.container .initials h1 :first-child {
	position: relative;
	left: 60px;
}

.container .points {
	-ms-grid-column: 2;
	    grid-column: 2;
	width: 500px;
	padding-left: 50px;
	margin: auto 25px;
	overflow: hidden; 
}

.container .points div {
	background: rgba(255, 255, 255, .8);
	-webkit-transform: skewX(22deg);
	        transform: skewX(22deg);
    -webkit-transform-origin: 0;
            transform-origin: 0;
    margin: 10px;
    width: 300px;
    position: relative;
    left: -80px;
    z-index: 1;
    transition: .5s;
}

.container .points div p {
    -webkit-transform: skewX(-22deg);
            transform: skewX(-22deg);
   	padding: 10px 0 10px 30px;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6em;
    height: 100%;
    background: linear-gradient(150deg,#53f 5%,#05d5ff 55%,#a6ffcb 94%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container .points div:hover {
	background: rgba(255, 255, 255, .3);
    width: 350px;
    cursor: pointer;
}

.container .points div p:hover {
    -webkit-text-fill-color: #fff;
}

.container .descriptions {
	padding: 30px;
	-ms-grid-column: 3;
	    grid-column: 3;
	margin: auto 0;
}

.container .descriptions div {
    font-weight: bold;
    font-size: 22px;
    color: #fff;
    padding: 10px;
    line-height: 1.6em;
}

.container .descriptions .about {
    display: none;
} 

.container .descriptions .about p span {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
}

.container .descriptions .education {
    display: none;
}

.container .descriptions .education .container-education {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 350px 400px;
        grid-template-columns: 350px 400px;
}

.container .descriptions .education .container-education div {
    margin: 20px 0;
    padding: 10px;
}

.container .descriptions .education .container-education .date {
    -ms-grid-column: 1;
        grid-column: 1;
    width: ;
}

.container .descriptions .education .container-education .date p span {
    position: relative;
    padding-right: 60px;
}

.container .descriptions .education .container-education .date p span:last-child {
    position: relative;
    top: 30px;
}

.container .descriptions .education .container-education .date p span:first-child:after {
    content:" ";
    position: absolute;
    top: -20%;
    left: 80%;
    width: 5px;
    height: 60px;
    -webkit-transform: skewX(-45deg);
            transform: skewX(-45deg);
    background-color: #fff;
    display: inline-block;
}

.container .descriptions .education .container-education .school {
    -ms-grid-column: 2;
        grid-column: 2;
}

.container .descriptions .education .container-education .school p:first-child {
    font-family: 'Montserrat', sans-serif;
}

.container .descriptions .skills {
    display: none;
}

.container .descriptions .skills .container-skills,
.container .descriptions .projects .container-projects {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-line-pack: distribute;
        align-content: space-around;
}

.container .descriptions .skills .container-skills div {
    height: 50px;
    width: 250px;
    overflow: hidden;
    transition: -webkit-transform .25s;
    transition: transform .25s;
    transition: transform .25s, -webkit-transform .25s;
}

.container .descriptions .skills .container-skills div h3 i {
    padding: 5px;
}

.container .descriptions .skills .container-skills div p {
    margin: 5px;
    text-align: right;
    opacity: 0;
    transition: opacity .25s;
}

.container .descriptions .skills .container-skills div:hover {
    height: 150px;
    border: 1px solid #fff;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    margin: 10px;
}

.container .descriptions .skills .container-skills div:hover h3 {
    border-bottom: 3px solid #fff;
}

.container .descriptions .skills .container-skills div:hover p {
    opacity: 1;
    font-size: 90%;
}

.container .descriptions .projects {
    display: none;
}

.container .descriptions .projects div figure {
    text-align: left;
    height: 300px;
    width: 250px;
    margin: 30px;
}

.container .descriptions .projects div figure img {
    opacity: 0.7;
    transition: opacity 0.45s;
    height: 100%;
    width: 100%;
}

.container .descriptions .projects div figure figcaption {
    position: relative;
    top: -40%;
    padding-left: 15px;
    background: #05d5ff;
    font-size: 20px;
}

.container .descriptions .projects div figure h2 {
    transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    transition: transform 0.35s, -webkit-transform 0.35s;
    -webkit-transform: translate3d(0,20px,0);
    transform: translate3d(0,20px,0);
}

.container .descriptions .projects div figure a {
    color: #fff;
    font-size: 150%;
    padding-right: 15px;
}

.container .descriptions .projects div figure a:hover {
    color: #4553ff;
    opacity: .6;
}

.container .descriptions .projects div figure p a i {
    opacity: 0;
    transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
    -webkit-transform: translate3d(0,50px,0);
    transform: translate3d(0,50px,0);
}

.container .descriptions .projects div figure:hover img {
    opacity: 1;
}

.container .descriptions .projects div figure:hover h2 {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.container .descriptions .projects div figure:hover p i {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.container .descriptions .projects div figure:hover p a:nth-child(2) i {
    transition-delay: 0.05s;
}

.container .descriptions .projects div figure:hover p a:first-child i {
    transition-delay: 0.1s;
}

.container .descriptions .contact {
    display: none;
}

.container .descriptions .contact i {
    margin: 15px;
}

.container .descriptions .contact a {
    text-decoration: none;
    color: #fff;
}